body{
    background-color: #ffe2c0;
}
/* .App{    
    margin: 5px;
} */
.arena{
    width:100%;
    height: 100vh;
    /* background-image: url("./Images/Main-02.svg");  */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: flex;
    overflow-y: hidden;
}
.characters{
    position: absolute;
    display: flex;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.backgroundStream{
    /* display: table-cell; */
    flex: 1;
    height:100%;
    width: auto;
    margin: 0;
}
.dangerZone{
    /* flex: 1; */
    /* display: table-cell; */
    position: relative;
    top: 17.8%;
    height: 76%;
    width: auto;
    margin: 0;
}
.settingsPanel{
    display: flex;
    height: 40px;
    width: 90%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    top: 8%;
}
.settings{
    display: flex;
    position: absolute;
    height: inherit;
    left: 10%;
    float: left;
    width: 20%;
}
.health{
    display: flex ;
    position: absolute;
    height: inherit;
    right: 0;
    float: right;
    width: 30%;
}
.icons{
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}